input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(228, 225, 225);
  border-radius: 5px;
  box-sizing: border-box;
}
