.profile-container {
  width: 70vw;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid rgb(229, 224, 224);
  border-radius: 5px;
  /* background-color: aquamarine; */
}
.profile-image-container {
  width: 60px;
}
.profile-container input {
  margin: 5px;
}
/* if the screen with resolutaion larger than 800px , set the width to 500 px*/
@media screen and (min-width: 800px) {
  .profile-container {
    width: 400px;
  }
}
